@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Audiowide", cursive;
}

/*Navbar CSS*/

.navbar {
  width: 100%;
  background-image: linear-gradient(to right, #5989a1, #776256, #384531);
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.navlogo {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.navlogo > p {
  font-family: "Audiowide", cursive;
  font-size: 25px;
  color: white;
}

.navList {
  display: flex;
  justify-content: space-between;
  width: 30rem;
  margin-right: 5rem;
}

li {
  list-style: none;
}

ul > li > a {
  text-decoration: none;
  font-family: "Audiowide", cursive;
  color: black;
  font-size: 23px;
  transition-duration: 1s;
  cursor: pointer;
}

ul > li > a:hover {
  color: white;
  position: relative;
  bottom: 5px;
}

.mapcontainer {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #5989a1, #776256, #384531);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.mapcard {
  margin-top: 2rem;
}

.card-element {
  height: 300px;
  width: 600px;
  border-radius: 20px;
  transition: 2s;
}

.card-element > img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.mapcard > h1 {
  color: white;
  font-family: "Audiowide", cursive;
}

.map {
  height: 250px;
  width: 400px;
  visibility: hidden;
  position: relative;
  bottom: 20rem;
  left: 6rem;
}

.map > img {
  height: 100%;
  width: 100%;
}

.card-element:hover {
  height: 400px;
}

.card-element:hover .map {
  visibility: visible;
}